/* HEADER AND FOOTER STYLE */

header, footer {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #3c6084;
  color: #f3f3f3;
}

 /*GENERAL LAYOUT STYLE */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1rem;
}

.search-form {
  width: 30%;
}

.spells {
  width: 70%;
}


/* SEACH FORM STYLE */

.search-count {
  font-weight: bold;
  text-align: center;
}

.drop-down-filters {
  display: flex;
  flex-wrap: wrap;
}

.drop-down-filters div {
  width: 48%;
  margin-right: 0.5rem;
}

.drop-down-filters div select {
  width: 100%;
}

.name-filter, .description-filter {
  width: 98%;
}

/* SPELL LIST STYLE */

.spell-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}

.spell {
  background-color: #3c6084;
  border: 1px solid black;
  border-radius: 20px;
  width: 400px;
  padding: 20px;
  margin: 5px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(145,145,145,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(145,145,145,1);
  box-shadow: 3px 3px 5px 0px rgba(145,145,145,1);
}

.spell .name {
  background-color: #f3f3f3;
  text-transform: uppercase;
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  font-size: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.spell .type {
  text-align: center;
  color: #f3f3f3;
}

.spell .stats {
  display: flex;
  flex-wrap: wrap;
}

.spell .stats .stat-block {
  background-color: #f3f3f3;
  width: 50%;
  box-sizing: border-box;
}

.spell .stats .stat-block.top.left {
  border-bottom: 2px solid #3c6084;
  border-right: 2px solid #3c6084;
}

.spell .stats .stat-block.top.right {
  border-bottom: 2px solid #3c6084;
  border-left: 2px solid #3c6084;
}

.spell .stats .stat-block.bottom.left {
  border-top: 2px solid #3c6084;
  border-right: 2px solid #3c6084;
}

.spell .stats .stat-block.bottom.right {
  border-top: 2px solid #3c6084;
  border-left: 2px solid #3c6084;
}

.spell .stats .stat-block .title {
  text-transform: uppercase;
  color: #3c6084;
  text-align: center;
  font-weight: bold;
}

.spell .stats .stat-block .content {
  text-align: center;
}

.spell .description {
  line-height: 110%;
  padding: 15px;
  background-color: #f3f3f3;
  margin-top: 20px;
  text-align: justify;
}

.spell .description.rounded {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.spell .description .material {
  margin-bottom: 1rem;
}

.spell .higher-levels-title {
  text-align: center;
  color: #f3f3f3;
}

.spell .higher-levels {
  line-height: 110%;
  padding: 15px;
  background-color: #f3f3f3;
  text-align: justify;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.spell .classes {
  margin-top: 1rem;
  color: #f3f3f3;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
}

/* LOADER STYLE */

.loader {
  margin: 3rem auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3c6084; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
